name: EncryptFile_build_test

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'Frends.Pgp.EncryptFile/**'
  workflow_dispatch:

jobs:
  build:
    uses: FrendsPlatform/FrendsTasks/.github/workflows/build_test.yml@main
    with:
      workdir: Frends.Pgp.EncryptFile
    secrets:
      badge_service_api_key: ${{ secrets.BADGE_SERVICE_API_KEY }}
      test_feed_api_key: ${{ secrets.TASKS_TEST_FEED_API_KEY }}
      
